{% extends "tasktracker/base.html" %}


{% block content %}
<br>
<br>
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Are you sure you want to delete: {{projectmodel.project}}?</h1>
    <ul>
      <li>All the data associated with {{projectmodel.project}} will be deleted</li>
      <li>It is not possible to reverse this action</li>
    </ul>
  </div>
</div>

<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-lg text-left">
        <input type="submit" class="btn btn-danger" value="Confirm delete">
      </div>
      <div class="col-lg text-right">
        <a href="{% url 'tasktracker:projectdetail' pk=projectmodel.pk %}" class="btn btn-success">Go back</a>
      </div>

    </div>
  </form>
</div>


{% endblock %}
