body html {
  margin: 0;
  padding: 0;
}

.navbar{
  background-color:#122231!important;
  font-size: 1.1em;
}

.nav-link{
  margin-right: 50px;
}

.backgroundimg{
  background: linear-gradient(0deg, rgba(164, 229, 230) 0%, rgba(239, 206, 147) 100%);
}

.customborder{
  border-bottom: 1.5px solid #7daedc;
}

.customborder2{
  border-bottom: 1.5px solid #122231;
}

#editproj{
  color:#16a9a9;
}
#editproj:hover {
  color:#1c7171;
  transition: 0.3s;
}

.custom-background{
  background-color: #1b2121;
}

.extra-padding{
  padding-top: 15px;
  padding-bottom:15px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}



/* #1c7171 */
